<form id="test-generator" [formGroup]="okTestForm">

    <div class="form-group row">

        <input 
            type="text" 
            name="testname" 
            placeholder="Test Name" 
            formControlName="testName" 
            class="form-control col-md-3" 
            [class.invalid-testName]="testName.invalid && testName.touched" 
            required
        >
        <input type="text" name="points" placeholder="Points" formControlName="points" class="form-control col-md-3 offset-md-1">
        <div class="col-md-3 offset-md-1 form-control cases-checkbox">
            <input type="checkbox" name="scored" formControlName="scored" class="form-check-input" id="scored" [checked]="scored">
            <label class="form-check-label" for="scored">Scored</label>
        </div>
        <!-- <div class="col-md-2 form-control cases-checkbox">
            <input type="checkbox" name="visible" class="form-check-input" id="visible">
            <label class="form-check-label" for="visible">Visible</label>
        </div> -->

    </div>

    <div *ngIf="testName.invalid && testName.touched" class="alert alert-warning invalid-popup" role="alert">
        This field is required.
    </div>
    
    <!-- <div class="form-group row">
        
        <textarea name="setup" placeholder="Setup Code" class="form-control col-md-3 offset-md-2" id="setup"></textarea>
        <textarea name="setup" placeholder="Teardown Code" class="form-control col-md-3 offset-md-2" id="teardown"></textarea>

    </div> -->

    <h4>Cases</h4>

    <div formArrayName="testCases" class="row" id="all-cases-container">

        <div *ngFor="let testCase of testCases.controls; let i=index" [formGroupName]="i" class="form-group col-md-6 case" id="inputSet{{ i }}">

            <!-- test case input -->
            <textarea 
                name="caseCode{{ i }}" 
                placeholder="Code" 
                formControlName="input" 
                class="form-control code-input code"
                (keydown)="captureTabKey($event)"></textarea>

            <!-- test case output -->
            <textarea 
                name="caseOutput{{ i }}" 
                placeholder="Output" 
                formControlName="output" 
                class="form-control code-input output"
                (keydown)="captureTabKey($event)"></textarea>

            <div class="row">
                <div class="col-md-6 cases-checkbox">
                    <input type="checkbox" formControlName="hidden" name="hidden{{ i }}" class="form-check-input hidden" id="hidden{{ i }}">
                    <label class="form-check-label" for="hidden{{ i }}">Hidden</label>
                </div>
                <div class="col-md-6 cases-checkbox">
                    <input type="checkbox" formControlName="locked" name="locked{{ i }}" class="form-check-input locked" id="locked{{ i }}">
                    <label class="form-check-label" for="locked{{ i }}">Locked</label>
                </div>
            </div>

            <br>

            <!-- <div class="row"> -->
                <button type="button" class="btn btn-light offset-md-1 col-md-10" (click)="deleteTestCase(i)">Delete Test</button>
            <!-- </div> -->

        </div>

    </div>

    <div *ngIf="testCases.invalid" class="alert alert-warning invalid-popup" role="alert">
        Your test needs at least one test case.
    </div>

</form>

<div class="form-group row">
    <div class=" col-md-3 offset-md-3">
        <button type="button" class="btn btn-light mx-auto" (click)="addTestCase()" id="add-case">Add a Test</button>
    </div>
    <div class="col-md-3">
        <button (click)="generateTestFile()" class="btn btn-light mx-auto">Generate</button>
    </div>
</div>