/* You can add global styles to this file, and also import other style files */
/*
	CSS Styles for OkPy Test Generator
*/

/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap'); */

body {
	display: flex;
	flex-direction: column;
}

html, body {
	height: 100%;
}

h1 {
	padding-top: 30px;
}

h3, h4 {
	padding-top: 20px;
}

p {
	padding-top: 10px;
}

.btn-light {
	background: #2badad;
	border-color: #2badad;
	color: white;
}

.btn-light:hover {
	background: black;
	border-color: black;
	color: white;
}

/* Footer */

footer {
	/*position: sticky;*/
	/*bottom: 0;*/
	width: 100%;
	background: rgb(241, 244, 251);
	flex-shrink: 0;
}

/* include so that footer sticks to the bottom */
div.container#body {
	flex: 1 0 auto;
}

/*footer div#copyright {
	padding: 20px 0;
	text-align: center;
}*/

footer div a:link, footer div a:hover, footer div a:visited {
	color: black;
	text-decoration: underline;
}


